{
  "IsEncrypted": false,
  "Host": {
    "CORS": "*"
  },
  "Values": {
    "apiKey": "<your api key>",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "etherscanApiKey": "<your etherscan api key>"
  }
}